/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--font-color, #f1b2ce);
  font-family: 'IBM Plex mono', monospace;
  font-weight: normal;
  font-size: 18px;
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-cover-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Общие сущности */


.decorated-zone::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  margin: var(--flexible-padding, clamp(10px, 2.7vi, 20px));
  border-inline-end: 1px solid var(--header-elements-clr, #FF0070);
  border-block-start: 1px solid var(--header-elements-clr, #FF0070);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin: var(--flexible-padding, clamp(10px, 2.7vi, 20px));
  border-inline-start: 1px solid var(--header-elements-clr, #FF0070);
  border-block-end: 1px solid var(--header-elements-clr, #ff0070);
}

.header__theme-menu-button {
  position: relative;
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 70px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--header-elements-clr, #ff0070);
  inline-size: 100%;
  inset-block-end: -0.2ch;
  inset-inline-start: 0;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-color, #FF007066);
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.link:hover::after {
  content: '';
  position: absolute;
  border-block-end: 1px solid var(--font-color, #f1b2ce);
  inline-size: 100%;
  inset-block-end: 0;
  inset-inline-start: 0;
}

.link:focus {
  outline: none;
}

.link:focus-visible::after {
  content: '';
  position: absolute;
  border: 1px solid var(--font-color, #f1b2ce);
  inset-inline-start: -5px;
  inset-block-start: 0.4ch;
  inline-size: calc(100% + 10px);
  block-size: 1.8ch;
}

.title {
  position: relative;
  color: var(--header-title-color, #DB00FF);
  font-family: 'IBM Plex mono', monospace;
  font-size: var(--mobile-title-fsize, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: 0.825em;
  text-shadow: 4px 4px var(--accent-color, #ff0070);
}

.accent__title {
  display: block;
  color: var(--subtitle-color, #000028);
  font-weight: bold;
  font-size: inherit;
  background-color: var(--accent-color,#ff0070);
}

.accent__title:not(p) {
  margin-block-end: 10px;
}

.main__content-section {
  display: grid;
  gap: 50px;
  inline-size: 100%;
  line-height: 1.3em;
  padding-inline: var(--flexible-padding, clamp(10px, 2.7vi, 20px));
}

.section {
  display: grid;
  gap: 20px;
}

.main__content-section-title {
  color: var(--title-color, #ff0070);
  font-size: inherit;
}

.main__content-section-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__content-section-list {
  display: grid;
  gap: 20px;
}

.main__content-section-advices 
.main__content-section-list {
  margin-block-start: 18px;
}

.subtitle {
  font-weight: normal;
}

/* Основные стили */


.header {
  display: block;
  margin-block-end: calc(50px - var(--flexible-padding, clamp(10px, 2.7vi, 20px)));
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__section {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: inherit;
  padding: var(--flexible-padding, clamp(10px, 2.7vi, 20px));
}

.dark__theme-decoration {
  display: inline-block;
  grid-area: 1 / 1 / 2 / 1;
  align-self: start;
  margin-inline-start: auto;
  color: var(--accent-color, #ff0070);
  text-transform: uppercase;
}

.dark__theme-decoration::after {
  content: '';
  display: inline-block;
  margin: 9px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 10px;
  block-size: 10px;
}

.header__theme-menu {
  display: block;
  grid-area: 1 / 1 / 2 / 1;
  margin-inline-start: auto;
  color: var(--header-elements-clr, #ff0070);
  text-align: center;
}

.header__theme-menu-list {
  display: inline-flex;
  flex-direction: column;
  gap: 13px;
  line-height: 1.2em;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--header-elements-clr, #ff0070);
  pointer-events: none;
}

.main__content-section-images {
  display: grid;
  gap: var(--flexible-padding, clamp(10px, 2.7vi, 20px));
}


.main__content-section-images > .accent__title {
  margin-bottom: 0;
}

.image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: calc(50px - var(--flexible-padding, clamp(10px, 2.7vi, 20px)));
  block-size: 100vh;
  min-block-size: 668px;
  inline-size: 100%;
}

.title:last-child {
  text-shadow: 2px 2px var(--accent-color, #ff0070);
}


/* Медиазапросы */


@media (width <= 768px) {
  .header__section_paragraph {
    max-inline-size: 364px;
    inline-size: 100%;
    justify-self: end;
  }
}

@media (width >= 768px) {
  .header {
    margin-block-end: calc(80px - var(--flexible-padding, clamp(10px, 2.7vi, 20px)));
  }

  .header__section {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: var(--desk-title-fsize, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

  .title:not(:last-child) {
    grid-area: 2 / 1 / 2 / 3;
    margin-inline-start: calc(-1 * var(--flexible-padding, clamp(10px, 2.7vi, 20px)));
  }

  .dark__theme-decoration {
    grid-area: 1 / 1 / 2 / 3;
  }

  .header__theme-menu {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .header__section_paragraph {
    grid-area: 3 / 2 / 4 / 3;
    inline-size: 100%;
  }

  .main__content-section {
    gap: 80px;
  }

  .main__content-section-why {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-section-causes >
  .main__content-section-title {
    max-inline-size: 30%;
  }

  .main__content-section-advices {
    grid-template-columns: 1fr 2fr;
  }

  .main__content-section-advices
  .main__content-section-list {
    margin-block-start: 20px;
  }

  .main__content-section-images {
    grid: repeat(4, auto) / repeat(3, auto);
    grid-template-areas: 
      '. . .'
      'sunset sunset ice'
      'tape books ice'
      'tape street street';
      place-items: stretch;
  }

  .main__content-section-images > .accent__title {
    grid-area: 1 / 1 / 1 / 4;
  }
  
  .image:nth-child(2) {
    grid-area: sunset;
  }

  .image:nth-child(3) {
    grid-area: ice;
  }

  .image:nth-child(4) {
    grid-area: tape;
  }

  .image:nth-child(5) {
    grid-area: books;
  }

  .image:nth-child(6) {
    grid-area: street;
  }

  .footer {
    margin-block-start: calc(80px - var(--flexible-padding, clamp(10px, 2.7vi, 20px)));
  }
}

@media (width >= 1024px) {
  
  .header__theme-menu {
    align-self: start;
    margin-inline-start: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .main__content-section-why,
  .main__content-section-advices {
    grid-template-columns: 32% 2fr;
  }

  .main__content-section-causes 
  .main__content-section-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .main__content-section-causes > 
  .main__content-section-title-container {
    inline-size: 30%;
  }
}